    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Forms -->
    <script src="/js/jquery.forms.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/vendor/metisMenu/metisMenu.min.js"></script>

    <script src="/vendor/sweetalert/dist/sweetalert.min.js"></script>

    <!-- Extra JS -->
    <% extraJs.forEach(function(js){ %>
    <script type="text/javascript" src="<%- js %>"></script>
    <% }); %>

    <!-- Custom Theme JavaScript -->
    <script src="/js/sb-admin-2.js"></script>

</body>

</html>